body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
}
body #container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body .logo_nav {
  cursor: pointer;
}
body .nav_nav li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}
body .nav_nav li a {
  color: black;
  text-decoration: none;
}
body .button_nav {
  background-color: black;
  border-radius: 6px;
  padding: 5px 15px;
}
body .button_nav a {
  text-decoration: none;
  color: white;
}
body #header {
  display: grid;
  grid-template-columns: 50% auto;
}
body .content_header {
  margin-left: 50px;
}
body .content_header h1 {
  font-size: 40px;
  opacity: 0.7;
}
body .content_header a {
  color: white;
  text-decoration: none;
  padding: 10px 45px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #5555a5, #5165b2, #3ea3c5, #3da6c6);
  position: relative;
  top: 30px;
}
body p {
  opacity: 0.7;
}
body .vid_header {
  float: right;
  background-image: linear-gradient(140deg, #4c6d7de0, #5a576fbb);
  height: 450px;
  position: relative;
  overflow: hidden;
}
body .vid_header video {
  height: 450px;
  float: right;
  z-index: -1;
  position: absolute;
}
body .vid_header p {
  text-align: center;
  color: white;
  position: absolute;
  top: 340px;
  right: 120px;
}
body input {
  visibility: hidden;
}
body #nav:checked + .nav-btn i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}
body #nav:checked + .nav-btn i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}
body #nav:checked ~ .nav_nav {
  z-index: 1;
  opacity: 1;
}
@media screen and (max-width: 900px) {
  body .nav_nav {
    position: fixed;
    top: 60px;
    width: 80%;
    height: 30%;
    opacity: 0;
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 10px 30px black;
  }
  body .nav_nav ul li a {
    margin-left: 30px;
    color: #fcfafa;
    line-height: 35px;
    font-size: 22px;
    font-weight: bold;
  }
  body .nav_nav ul li a:hover {
    color: #036aaf;
    background-color: #3da6c6;
    z-index: 1;
    border-radius: 5px;
  }
  body .nav-btn {
    position: fixed;
    right: 10px;
    top: 10px;
    cursor: pointer;
    width: 48px;
    height: 48px;
  }
  body .nav-btn i {
    display: block;
    width: 20px;
    height: 2px;
    background: #262626;
    border-radius: 2px;
    margin-left: 14px;
  }
  body .nav-btn i:nth-child(1), body .nav-btn i:nth-child(2), body .nav-btn i:nth-child(3) {
    margin-top: 4px;
    opacity: 1;
  }
}
@media only screen and (max-width: 900px) {
  body #container {
    display: flex;
    flex-direction: column;
  }
  body .button_nav {
    visibility: hidden;
  }
  body #header {
    display: flex;
    flex-direction: column;
  }
  body .vid_header {
    background-image: none;
  }
  body .vid_header video {
    width: 100%;
  }
  body .content_header a {
    margin-left: 80px;
  }
}

body {
  margin: 0;
  padding: 0;
  background: #e8eaef;
}

.titre {
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  font-size: 45px;
  color: #3f3f3fef;
  margin-bottom: 2px;
}

.-titre {
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
  font-size: 22px;
  color: #5067b3;
  margin-top: 4px;
}

div.gallery {
  margin: 20px;
  width: 245px;
}

.cp {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0% 10% 0% 10%;
  flex-wrap: wrap;
  text-align: center;
}

.desc {
  margin-top: 10px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #3f3f3fef;
}

.ret {
  font-size: 18px;
  font-weight: lighter;
  color: #464545d0;
}

.servises .h4 {
  font-size: 30px;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}
.servises .sect {
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.servises .sect .part1 {
  padding: 20px 120px;
}
.servises .sect span {
  color: #220ddd;
}
.servises .img {
  display: flex;
  margin: 40px;
}
.servises p {
  max-width: 500px;
  padding: 20px 0 30px 0;
}
.servises strong {
  margin-top: 40px;
  margin-left: 20px;
}

@media (max-width: 374px) {
  .h4 {
    justify-content: space-between;
  }
}
body .equipe {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: auto auto auto;
}
@media (max-width: 700px) {
  body .equipe {
    display: block;
    max-width: 100%;
    margin: 20px auto;
  }
}
body .equipe .equipe_title {
  grid-column: 2/6;
  grid-row: 1/2;
  text-align: center;
  margin: 10px;
  margin-bottom: 50px;
  font-size: 36px;
}
body .equipe .mbr_1 {
  grid-column: 2/3;
  grid-row: 2/3;
  background: url(../img/1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center;
  width: 400px;
  color: white;
  height: 840px;
  width: 100%;
}
body .equipe .mbr_1 button {
  border: none;
  color: white;
}
body .equipe .mbr_1 button h1 {
  text-align: center;
  margin: 5px auto;
  padding: 10px 40px;
  background-color: #3D3D3F;
  border-radius: 100px;
  width: 100px;
}
body .equipe .mbr_1 h2 {
  margin-top: 400px;
}
body .equipe .mbr_2 {
  grid-column: 3/4;
  grid-row: 2/3;
  background: url(../img/2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center;
  width: 400px;
  color: white;
  height: 840px;
  width: 100%;
}
body .equipe .mbr_2 button {
  border: none;
  color: white;
}
body .equipe .mbr_2 button h1 {
  text-align: center;
  margin: 5px auto;
  padding: 10px 40px;
  background-color: #3D3D3F;
  border-radius: 100px;
  width: 100px;
}
body .equipe .mbr_2 h2 {
  margin-top: 400px;
}
body .equipe .mbr_2 button h1 {
  background-color: #35C2CD;
}
body .equipe .mbr_3 {
  grid-column: 4/5;
  grid-row: 2/3;
  background: url(../img/3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center;
  width: 400px;
  color: white;
  height: 840px;
  width: 100%;
}
body .equipe .mbr_3 button {
  border: none;
  color: white;
}
body .equipe .mbr_3 button h1 {
  text-align: center;
  margin: 5px auto;
  padding: 10px 40px;
  background-color: #3D3D3F;
  border-radius: 100px;
  width: 100px;
}
body .equipe .mbr_3 h2 {
  margin-top: 400px;
}
body .equipe .mbr_4 {
  grid-column: 5/6;
  grid-row: 2/3;
  background: url(../img/4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center;
  width: 400px;
  color: white;
  height: 840px;
  width: 100%;
}
body .equipe .mbr_4 button {
  border: none;
  color: white;
}
body .equipe .mbr_4 button h1 {
  text-align: center;
  margin: 5px auto;
  padding: 10px 40px;
  background-color: #3D3D3F;
  border-radius: 100px;
  width: 100px;
}
body .equipe .mbr_4 h2 {
  margin-top: 400px;
}

* {
  font-family: "Poppins", sans-serif;
}

footer {
  background-image: url(../img/footer-image.png);
  background-repeat: no-repeat;
  background-size: 100% 1000px;
}
footer .sas {
  background-color: rgba(63, 84, 156, 0.7);
  background-size: 100%;
  color: white;
}
footer .sas .div1 {
  text-align: center;
}
footer .sas .div1 h1 {
  font-size: 45px;
}
footer .sas .div1 h3 {
  font-size: 26px;
}
footer .sas .div1 p {
  font-size: 17px;
}
footer .sas .botonat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
footer .sas .botonat .btn1 {
  text-align: center;
}
footer .sas .botonat .btn1 button {
  background-color: white;
  border: none;
  border-radius: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 40px;
  padding-left: 40px;
  color: black;
}
footer .sas .botonat .btn2 {
  text-align: center;
}
footer .sas .botonat .btn2 button {
  background-color: #5cdce6;
  border: none;
  border-radius: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 40px;
  padding-left: 40px;
  color: white;
}
footer .sas .sec1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
footer .sas .sec1 .visitez-ns {
  margin-right: 49px;
}
footer .sas .sec1 .socialmedia {
  margin-top: 52px;
}
footer .sas .sec2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
footer .sas .sec2 .Links {
  margin-top: 19px;
}
footer .sas .sec2 .Links a {
  color: white;
}
@media (min-width: 517px) {
  footer .sass .sec1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer .sass .sec1 p {
    text-align: none;
  }
  footer .sass .sec2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
